<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <distributable/>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GestionConsultas</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.GestionConsultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDML</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.GestionDML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarReporteGenerico</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.GenerarReporteGenerico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarReporteGenericoCSV</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.GenerarReporteGenericoCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarReporteCSV</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.GenerarReporteCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Correos</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.Correos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultasJSON</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.ConsultasJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionConsultas</servlet-name>
        <url-pattern>/GestionConsultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/s/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDML</servlet-name>
        <url-pattern>/GestionDML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarReporteGenerico</servlet-name>
        <url-pattern>/GenerarReporteGenerico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarReporteGenericoCSV</servlet-name>
        <url-pattern>/GenerarReporteGenericoCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarReporteCSV</servlet-name>
        <url-pattern>/GenerarReporteCSV</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimpleCaptchaServlet</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
        <init-param>
            <param-name>width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>75</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCaptchaServlet</servlet-name>
        <url-pattern>/captchaImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Correos</servlet-name>
        <url-pattern>/Correos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultasJSON</servlet-name>
        <url-pattern>/ConsultasJSON</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            90
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>s/resoluciones.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CryptoServlet</servlet-name>
        <servlet-class>javacryption.servlet.CryptoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CryptoServlet</servlet-name>
        <url-pattern>/encrypt</url-pattern>
    </servlet-mapping>
</web-app>
