<div class="alpaca-wizard" style="clear:both;border: none;">
    <div class="alpaca-wizard-title">${options.label}</div>
    <div class="alpaca-wizard-desc">${options.helper}</div>
     <HR>
    <div class="alpaca-wizard-step " id="grupo-1" style="clear:both;">
        <div class="alpaca-wizard-step-title">Expediente</div>
        <div class="alpaca-wizard-desc"><h3></h3></div>
    </div>
    <div class="alpaca-wizard-step " id="grupo-2" style="clear:both;">
        <div class="alpaca-wizard-step-title">Estudio de Documentos</div>
    </div>
    <div class="alpaca-wizard-step " id="grupo-3" style="clear:both;">
        <div class="alpaca-wizard-step-title">Seleccion de vivienda</div>
    </div>
    <div class="alpaca-wizard-step " id="grupo-4" style="clear:both;">
        <div class="alpaca-wizard-step-title">Finalizar</div>
    </div>
</div>